.contact {
    display: grid;
    grid-template-columns: 15% auto 15%;
    padding-top: 8.5%;
}

.contactcards {
    display: grid;
    grid-template-columns: 33.3% auto 33.3%;
    padding: 3%;
    padding-left: 9%;
    padding-right: 9%;
    cursor: default;
}

.contactcard {
    min-width: 100%;
    background-color: #408cff;
    color: white;
    box-shadow: 2px 2px 20px #b1b1b1;
}

.contactname {
    text-align: center;
    font-family: 'Product Sans';
    letter-spacing: 4px;
}

.contactdescription {
    position: relative;
    text-align: center;
    font-size: 13px;
    font-family: 'Product Sans';
    letter-spacing: 2px;
    bottom: 10px;
    padding-bottom: 50px;
}

.contactlinks {
    display: grid;
    grid-template-columns: 25% auto;
    font-family: 'Product Sans';
    letter-spacing: 2px;
    font-size: 20px;
    padding-bottom: 65px;
}

.logo {
    max-width: 30px;
    padding-left: 15px;
    padding-bottom: 10px;
}

.pfp {
    overflow: hidden;
    position: relative;
    bottom: 55px;
    text-align: center;
    display: block;
}

.pfpimage {
    max-width: 20%;
    border-radius: 100%;
    border: #fff 14px solid;
}

.line {
    background-color: #fff;
    height: 15px;
}

.text {
    transition: 0.2s;
    cursor: pointer;
}

.text:hover {
    font-size: 22px;
}

.notification {
    visibility: hidden;
    position: fixed;
    width: 100%;
    top: 55px;
    background-color: #408cff;
    color: rgb(255, 255, 255);
    height: 50px;
    text-align: center;
    font-family: 'Product Sans';
    align-items: center;
    cursor: pointer;
}

.emailus {
    display: grid;
    grid-template-columns: 21.25% auto 21.25%;
    margin-top: 2%;
}

.emailbox {
    background-color:#408cff;
    padding: 50px;
    font-family: 'Product Sans';
    color: white;
    box-shadow: 2px 2px 20px #b1b1b1;
}

.emailheader {
    text-align: center;
    cursor: default;
}

.input {
    margin-top: 20px;
    width: 97.5%;
    height: 25px;
    border: #408cff 2px solid;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 10px;
    font-size: 19px;
    color: rgb(0, 0, 0);
    box-shadow: 2px 2px 10px #b1b1b1 inset;
    outline: none;
    font-family: 'Source Code Pro', monospace;
}

.messageinput {
    height: 150px;
    resize: none;
}

.feedback {
    position: relative;
    margin: 0;
    padding: 0;
    top: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 400;
    cursor: default;
}

.emailbutton {
    width: 100%;
    margin-top: 3%;
    border: #408cff;
    background-color: #295faf;
    font-size: 17px;
    padding: 20px;
    border-radius: 10px;
    font-family: 'Product Sans';
    letter-spacing: 2px;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    transition: 0.2s;
}

.emailbutton:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    box-shadow: 2px 0px 13px #ffffff;
}